# Files
*
*.*
!.gitattributes
!.gitignore
!*.md

!Makefile
!*.mk

!*.yaml
!*.yml

!*.[ly]
!*.[ch]
!*.cc

!*.sy
!*.in
!*.out
!*.a

# Directory
!*/

build/
output/
tmp-src/
store/


# Invisible directory
.*/

!.github/
