# Files
*
*.*
!.gitattributes
!.gitignore
!*.md

!Makefile
!*.mk

!*.yaml
!*.yml

!*.[ly]
!*.[ch]
!*.cc

!*.sy
!*.in
!*.out
!*.a

!*.sh
!*.py

# Directory
!*/
!*/gcc_o0_time
!*/gcc_o1_time
!*/gcc_o2_time
!*/gcc_o3_time


build/
output/
tmp-src/
store/


# Invisible directory
.*/

!.github/
