name: Auto Test CI

on:
  push:

jobs:
  test:

    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set clang version as clang-10
      run: |
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-10 300
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-10 300
        sudo update-alternatives --install /usr/bin/clang-cpp clang-cpp /usr/bin/clang-cpp-10 300
        clang --version

    - name: Test-release
      run: make test VERSION=release

    - name: Test-debug
      run: make test VERSION=debug
